// color definitions
$teal: #009688;
$orange: #ff9800;
$light-gray: #f1f1f1;

body {
  background-color: $light-gray !important;
}

.app-container {
  font-family: 'Glory', sans-serif;
}

.btn-primary {
  background-color: #009688 !important;
}

.btn-primary:hover {
  color: $orange !important;
}

a {
  color: #009688 !important;
}

.Card {
  margin-bottom: 15px;
}