// color definitions
$teal: #009688;
$orange: #ff9800;
$light-gray: #f1f1f1;

:root {
  --primary: #009688;
  --secondary: #ff9800;
  --light: #f1f1f1;
}

body {
  background-color: $light-gray !important;
}

a {
  color: #009688 !important;
}

.app-container {
  font-family: 'Glory', sans-serif;
}

.btn {
  margin: 10px !important;
}
.btn-primary {
  background-color: #009688 !important;
  color: white !important;
}
.btn-primary:hover {
  color: $orange !important;
}
.btn-link {
  color: #009688 !important;
  padding: 0 !important;
}

.Card {
  margin-bottom: 15px;
}

h4 {
  margin-top: 15px !important;
}